{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav_content %}
{% endblock %}

{% block tab_menu %} {% endblock %}

{% block form %}
	<h1>Actualización masiva de reservas</h1>
	{{ form(form) }}
{% endblock %}
